passwordexpiry.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": ""
    },
    "clientId": {
      "type": "string",
      "metadata": {
        "description": "Azure AD app ID"
      }
    },
    "clientSecret": {
      "type": "string",
      "metadata": {
        "description": "Azure AD app secret"
      }
    },
    "tenant": {
      "type": "string",
      "metadata": {
        "description": "Azure AD tenant"
      }
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwaywest",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "defaultValue": "westeurope"
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "PasswordExpiry"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Daystoexpire": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "daystoexpire",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "Lastpasswordchangedatetime": [
                  "Succeeded"
                ]
              }
            },
            "DaystoexpireInt": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "daytoexpireint",
                    "type": "integer"
                  }
                ]
              },
              "runAfter": {
                "Daystoexpire": [
                  "Succeeded"
                ]
              }
            },
            "Expiration": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "expiration",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {}
            },
            "Expireindays": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "expireindays",
                    "type": "integer",
                    "value": 67
                  }
                ]
              },
              "runAfter": {
                "Messagedays": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Parse_JSON')?['value']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@items('For_each')?['mail']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Condition_2": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greaterOrEquals": [
                              "@variables('daytoexpireint')",
                              1
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Set_variable_4": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "messagedays",
                            "value": "@{concat('in ',variables('daystoexpire'),' days')}"
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "DaystoexpireIntS": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_6": {
                            "type": "SetVariable",
                            "inputs": {
                              "name": "messagedays",
                              "value": "'Today'"
                            },
                            "runAfter": {}
                          }
                        }
                      }
                    },
                    "Condition_3": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greaterOrEquals": [
                              "@variables('daytoexpireint')",
                              0
                            ]
                          },
                          {
                            "less": [
                              "@variables('daytoexpireint')",
                              "@variables('expireindays')"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Send_an_email_(V2)": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "To": "@{items('For_each')?['mail']}",
                              "Subject": "your password will expire @{variables('messagedays')}",
                              "Body": "<p>Dear @{items('For_each')?['displayName']}<br>\nYour Office 365 e-mail Password will expire @{variables('messagedays')}<br>\nYou can change your password through the Office 365 web portal.<br>\nIf you need instructions on how to access the portal, please contact the administrator.<br>\n<br>\nThank you,<br>\nOffice 365 Administrator<br>\n</p>"
                            },
                            "path": "/v2/Mail"
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Condition_2": [
                          "Succeeded"
                        ]
                      }
                    },
                    "DaystoexpireIntS": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "daytoexpireint",
                        "value": "@int(variables('daystoexpire'))"
                      },
                      "runAfter": {
                        "DaystoexpireS": [
                          "Succeeded"
                        ]
                      }
                    },
                    "DaystoexpireS": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "daystoexpire",
                        "value": "@{div(sub(ticks(variables('expiration')),ticks(variables('Today'))),864000000000)}"
                      },
                      "runAfter": {
                        "ExpirationS": [
                          "Succeeded"
                        ]
                      }
                    },
                    "ExpirationS": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "expiration",
                        "value": "@{addDays(variables('lastPasswordChangeDateTime'),variables('Maxpasswordage'))}"
                      },
                      "runAfter": {
                        "LastpasswordchangedatetimeS": [
                          "Succeeded"
                        ]
                      }
                    },
                    "LastpasswordchangedatetimeS": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "lastPasswordChangeDateTime",
                        "value": "@items('For_each')?['lastPasswordChangeDateTime']"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/users?&$filter=userType eq 'Member'&$select=displayName,mail,lastPasswordChangeDateTime",
                "headers": {
                  "content-type": "application/json"
                },
                "authentication": {
                  "audience": "https://graph.microsoft.com/",
                  "clientId": "[parameters('clientId')]",
                  "secret": "[parameters('clientSecret')]",
                  "tenant": "[parameters('tenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "runAfter": {
                "Expireindays": [
                  "Succeeded"
                ]
              }
            },
            "Lastpasswordchangedatetime": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "lastPasswordChangeDateTime",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "Maxpasswordage": [
                  "Succeeded"
                ]
              }
            },
            "Maxpasswordage": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Maxpasswordage",
                    "type": "integer",
                    "value": 70
                  }
                ]
              },
              "runAfter": {
                "Today": [
                  "Succeeded"
                ]
              }
            },
            "Messagedays": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "messagedays",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "DaystoexpireInt": [
                  "Succeeded"
                ]
              }
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "items": {
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "lastPasswordChangeDateTime": {
                            "type": "string"
                          },
                          "mail": {}
                        },
                        "required": [
                          "displayName",
                          "mail",
                          "lastPasswordChangeDateTime"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "Today": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Today",
                    "type": "string",
                    "value": "@{utcNow()}"
                  }
                ]
              },
              "runAfter": {
                "Expiration": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "westeurope",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}